.header {
  position: relative;
  min-height: 732px;
  background-image: url(../image/welcome-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 75, 0.85);
}

.header__container {
  position: relative;
  z-index: 100;
  padding-top: 40px;
  padding-bottom: 120px;
}

.header__nav {
  margin-bottom: 126px;
}

.nav__logo {
}

.nav__contacts {
  max-width: 208px;
  text-align: center;
}

.nav__phone {
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  margin-bottom: 3px;
}

.nav__action {
  color: var(--color-white);
  font-size: 15px;
}

.header__inner {
  text-align: center;
}

.header__title {
  max-width: 887px;
  color: rgba(255, 255, 255, 0.86);
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  margin: 0 auto;
  margin-bottom: 40px;
}

.header__description {
  max-width: 950px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 17px;
  line-height: 1.2;
  margin: 0 auto;
  margin-bottom: 90px;
}

.header__button {
  padding: 10px 36px;
  font-size: 19px;
}

.nav__mobile {
  display: none;
}
