.section-contact {
  position: relative;
  min-height: 621px;
  background-image: url(../image/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-contact::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 75, 0.85);
}

.section-contact__inner {
  text-align: center;
}

.section-contact__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 345px;
  margin: 0 auto;
}

.input {
  border-radius: 50px;
  border: 1.382px solid #fff;
  height: 44px;
  padding: 9px 25px;
  background-color: transparent;
  margin-bottom: 21px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.input:last-of-type {
  margin-bottom: 50px;
}

.form__button {
  max-width: 218px;
  padding: 15px 15px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-transform: lowercase;
}

.form__consent {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
}

.form__consent-link {
  color: #4a76a8;
}
