/* Общие стили */

:root {
  --color-primary: #15a9cb;
  --color-white: #fff;
  --color-text: #383a4c;
}

.section__inner {
  position: relative;
  z-index: 100;
  padding-top: 70px;
  padding-bottom: 70px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
}

.logo__img {
}

.title {
}

.button {
  height: 48px;
  border-radius: 50px;
  background: var(--color-primary);
  box-shadow: 0px 4px 25px 0px rgba(21, 169, 203, 0.3);
  color: var(--color-white);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.section__title {
  color: var(--color-text);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 25px;
}

.section__title--white {
  color: var(--color-white);
  margin-bottom: 17px;
}

.section__subtitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text);
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  max-width: 190px;
  padding-left: 62px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.section__subtitle:before,
.section__subtitle:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 43px;
  height: 2px;
  background: var(--color-text);
}

.section__subtitle:before {
  left: 0;
}

.section__subtitle:after {
  right: 0;
}

.section__description {
  color: var(--color-text);
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  max-width: 724px;
  margin: 0 auto;
  margin-bottom: 50px;
}
